pom.xml
pom.xml.asc
*.jar
*.class
/lib/
/classes/
/target/
/checkouts/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.nrepl-port
.cpcache/
/target
/classes
/checkouts
/.lein-*
/.nrepl-port
.hgignore
.hg/
/.idea
*.iml
.lsp/sqlite*.db
.calva/output-window/*.calva-repl
/public/js
/node_modules
/yarn.lock
/package-lock.json
/.shadow-cljs
/.idea
resources/
.DS_Store